#div1{
background: url("image/porsche-4477870_1280.jpg");
background-size: cover;
}
.t{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-top: 1px;
    color:white;
    text-decoration: none;
}
.t1{
    color:white;
    text-decoration: none;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

#tag{
    color: white;
    font-size: 30px;
    text-align:center;
}
#tag2{
    color: white;
    text-align:center;
}
#search{
    width: 550px;
    height:40px;
    text-align: center;
    margin-left: 300px;
    background:white ;
    text-align: center;
}
.mid1{
    color: white;
    text-decoration: none;
    opacity: .8;
    text-align: center;
}
h5{
    color: white;
    text-align: center;
    opacity: .7;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.images{
    height:300px;
    width:460px;
    padding: 2px;
    margin-top: 10px;
    margin-left: 4px;
    border-radius: 20%;
    margin-bottom: 10px;
    box-shadow: 0 0 15px green;


}
img:hover{
    transform:scale(1.1,1.1);
    transform-style: preserve-3d;

    transition: all 5s;
}
.div2{
    background: url("image/tumblr_pb03goDglC1uzwgsuo1_400.gif");
    background-size: cover;
}

.footer{

    background-color: black;
    height:100px;
    color:white;
    font-size: 10px;

}
.bt{
    color:white;
    background-color: green;
    width: 5cm;
    height: 1cm;
    margin-left: 45%;
    text-align: center;
    border-radius: 10px;

}
button:hover{
    transform:scale(1.1,1.1);
    transform-style:preserve-3d;
}
.label{
text-align: center;
}
.labels{
    text-align: center;
}
.para{
    margin-left: 5cm;
    margin-right: 5cm;
   text-align: center;
}
.para1{
    text-align: center;
}
p[class="para2"]{
    text-align: center;
color: white;}