#div1{
background: url("Connected-1920x1200.jpg");
background-size: cover;
}
.t{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-top: 1px;
    color:white;
    text-decoration: none;
}
.t1{
    color:white;
    text-decoration: none;
}
.t2{
    font-size: 200%;
    color: white;
    text-decoration: none;
}
.t3{
    color:white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 1px;
}
#tag{
    color: white;
    font-size: 30px;
    text-align:center;
}
#tag2{
    color: white;
    text-align:center;
}
#search{
    width: 550px;
    height:40px;
    text-align: center;
    margin-left: 300px;
    background:white ;
    text-align: center;
    padding: 2px;
}
.mid1{
    color: white;
    text-decoration: none;
    opacity: .8;
    text-align: center;
}
h5{
    color: white;
    text-align: center;
    opacity: .7;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.images{
    height:250px;
    width:300px;
    padding: 2px;
    margin-top: 10px;
    margin-left: 4px;
}
.search{
    padding: 5px;
}
/* figure{
    background-color: rgba(0, 0, 0, 0.493);
} */
#text{
    text-align: center;
}
.bt{
    color:white;
    background-color: green;
    width: 5cm;
    height: 1cm;
    margin-left: 45%;
    text-align: center;
    border-radius: 10px;

}
button:hover{
    transform:scale(1.1,1.1);
    transform-style:preserve-3d;
}
.label{
text-align: center;
}
.labels{
    text-align: center;
}
.para{
    margin-left: 5cm;
    margin-right: 5cm;
   text-align: center;
}
.para1{
    text-align: center;
}
p[class="para2"]{
    text-align: center;
color: white;}
.footer{

    background-color: rgba(0, 0, 0, 0.589);
    height:50px;
    color:white;
    font-size: 10px;

}